<!DOCTYPE html>
<html>
<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">   
</head>
<body>
    <di class="main-content">
         {{>header}}
        <p>{{message}}</p>
    </di>
   
    {{>footer}}
</body>
</html>